<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <title>{% block title %} Hackpy {% endblock %}</title>
  </head>
  <body>
    <div class="container">
      {%block header%}
      <header>
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">HackPy</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              {% if user.is_authenticated%}
              <li><a href="{% url 'hackpy_app:logout' %}">Logout</a></li>
              <li><a href="#">{{user.username}}</a></li>
              {%else%}
              <li><a href="{% url 'hackpy_app:login' %}">Login</a></li>
              <li><a href="{% url 'hackpy_app:signup' %}">SignUp</a></li>
              {%endif%}
            </ul>
          </div>
        </nav>
      </header>
      {%endblock%}
      {%block content%}
      <div class="row">
        <h1>Index page</h1>
      </div>
      {%endblock%}
    </div>
  </body>
</html>
